* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  width: 100%;
  float: left;
  position: fixed;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.section-icon {
	width: 6%;
	display: flex;
	float: right;
	padding-top: 14px;
}

.section-icon i{
  font-size: 22px;
}
.nav-header {
  width: 93%;
  float: left;
  background-color: #f44336;
  color: white;
}

.nav-header ul {
  display: flex;
  list-style: none;
}

.nav-header li {
  padding: 12px 24px;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}
#home {
  background-color: #fff;
  color: #000;
}

#home a {
  color: #000;
  text-decoration: none;
}
.nav-header li:hover {
  background-color: white;
  color: #000;
}

/* .nav-header a {
  color: white;
  text-decoration: none;
} */

.section {
  width: 100%;
  float: left;
  background-color: #f44336;
  padding: 128px 16px;
}

.section1 {
  width: 100%;
  float: left;
}

.section1 h1 {
  text-align: center;
  font-size: 64px;
  font-family: "Lato", sans-serif;
  color: white;
  font-weight: 400s;
}

.section1 p {
  text-align: center;
  font-size: 24px;
  padding-top: 15px;
  font-family: "Lato", sans-serif;
  color: white;
}

.section1 button {
  color: #fff;
  background-color: #000;
  padding: 12px 24px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  text-align: center;
  margin-left: 46%;
  margin-top: 37px;
  border: navajowhite;
}

.section2 {
  width: 100%;
  float: left;
}

.section3 {
  max-width: 80%;
  margin: auto;
}
.section4 {
  width: 100%;
  float: left;
  display: flex;
  gap: 41px;
  padding-top: 49px;
}
.section5 {
  width: 59%;
  float: left;
}

.section5 h1 {
  padding-block: 32px;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
}

.section5 h5 {
  font-size: 18px;
  margin-block: 10px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

.section5 p {
  color: #757575;
  font-size: 15px;
  line-height: 1.5;
  font-family: "Lato", sans-serif;
}

.section6 {
  width: 41%;
  float: right;
}

.section6 i {
  font-size: 200px;
  padding-block: 64px;
  color: #f44336;
  display: grid;
}

.section10 {
  width: 100%;
  float: left;
  background-color: #ccc;
  margin-top: 62px;
}

.section11 {
  width: 80%;
  margin: auto;
}

.section7 {
  width: 100%;
  float: left;
  display: flex;
  justify-content: space-between;
  /* padding-left: 158px; */
  padding-block: 71px;
}

.section8 {
  width: 40%;
  float: left;
}

.section8 i {
  font-size: 200px;
  color: #f44336;
  padding-block: 64px;
}

.section9 {
  width: 60%;
  float: right;
}

.section9 h1 {
  padding-block: 32px;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
}

.section9 h5 {
  font-size: 18px;
  margin-block: 10px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

.section9 p {
  color: #757575;
  font-size: 15px;
  line-height: 1.5;
  font-family: "Lato", sans-serif;
}

.section-1 {
  width: 100%;
  float: left;
  background-color: #757575;
}

.section-2 {
  width: 100%;
  padding-block: 64px;
}

.section-2 h2 {
  text-align: center;
  font-size: 24px;
  color: white;
  font-family: "Montserrat", sans-serif;
}

@media only screen and (max-width: 600px) {
  .section1 button {
    margin-left: 39%;
    margin-top: 32px;
  }

  .section1 h1 {
    font-size: 51px;
  }

  .section4 {
    flex-wrap: wrap;
  }

  .section5 {
    width: 100%;
  }

  .section6 {
    padding-left: 109px;
  }

  .section7 {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .section9 {
    width: 100%;
  }

  .section8 {
    padding-left: 101px;
  }

  .nav-header ul{
    display: none;
  }
}
